* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightyellow;
}

#window {
    position: absolute;
    background-color: rgb(234, 23, 23);
    height: 75%;
    width: 60%;
    margin-top: 7%;
    margin-left: 19%;
}

#leftborder ,#leftborder1{
    position: absolute;
    height: 15%;
    width: 2%;
    left: 2%;
    top: 15%;
    background-color: white;
}

#rightborder,#rightborder1 {
    position: absolute;
    height: 15%;
    width: 2%;
    right: 2%;
    top: 25%;
    background-color: white;
}
#rightborder1,#leftborder1{
    opacity: 0;
    width: 4%;
    background-color:red

}
.vertical {
    border-left: 3px dashed white;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    left: 50%;
}
#score1,
#score-,
#score2 {
    display: inline-block;
    font-size: 85px;
    font-family: 'Snell Roundhand', cursive;
    left: 36%;
}

#control {
    margin-left: 45%;
    position: absolute;
    top: -2%;
}

#player1 {
    font-size: 50px;
    font-family: 'Snell Roundhand', cursive;
    position: absolute;
    left: 19%;
    top: 20%;
}

#player2 {
    font-size: 50px;
    font-family: 'Snell Roundhand', cursive;
    position: absolute;
    right: 22%;
    top: 20%;
}

#khat1 {
    border-left: 3px solid red;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 2%;
}

#khat2 {
    border-left: 3px solid red;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 98%;

}