{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static' , filename='CSS/style.css')}}">

<div class='window'>
    <form action="/" method="POST" id ='homey'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class='error'>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <input type="text" name="email" placeholder='Email' required><br>
        <input type="password" id='password' name='password' placeholder='password ...' required><br>
        <br><label for="email">Email</label><br>
        <input type="email" name="email" placeholder='Email ...' required , style="font-size: 30px;"><br>
        <label for="name">Password</label><br>
        <input type="password" id='password' name='password' placeholder='password ...', required , style="font-size: 30px;"><br>

        <input type="checkbox" onclick="show_password()" ><span style='font-size:15px;'  > Show Password</span><br>
        <input type="submit" value="Submit">
    </form>
    <p>Don't have an account ? <a href="/singup" style='margin-left: 5px;font-size: 20px;text-decoration: none;'>Sing-up</a></p>
</div>

{% endblock content %}