{% extends "base.html" %}
{% block content %}

<div id='plays'>
    <form action="/game" method="POST" id ='homey'>
        <label for="player1">First Player</label><label for="player2"style='margin-left:15vw'>Second Player</label><br>
        <input type="text" name='player1' placeholder='First Player...' >            
        <input type="text name" name="player2" placeholder='Second Player...' required><br>
        <button type="submit" >submit</button>
        {% if notvalide==True %}
        <p>please enter a valide player name</p>
        {% endif %}
    </form>
</div>

{% endblock content %}
