{% extends "base.html" %}
{% block content %}

<div id='plays'>
    <form action="/About" method="POST" id ='homey'>
        <label for="player1">First Player</label><label for="player2"style='margin-left:5vw'>Second Player</label><br>
        <input type="text" name='player1' placeholder='Full Name' style="font-size: 20px;" required>            
        <input type="text name" name="player2" placeholder='Fulle Name' required style="font-size: 20px;"><br>
        <button type="submit" style="font-size: 25px;" >submit</button>
    </form> 
</div>

{% endblock content %}