{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static' , filename='CSS/style.css')}}">
<div class='window'>
    <form action="/" method="POST" id ='homey'>
        <br><label for="new_password" style='margin-left: 1vw;'>New password</label><br>
        <input type="text" name="new_password" placeholder='new password...' required , style="font-size: 20px;"><br>
        <input type="submit" value='Confirm' style="font-size: 30px;" >
    </form>
</div>
{% endblock content %}