{% extends "base.html" %}
{% block content %}
<div id="control">
    <div id="score1">0</div>
    <div id="score-">-</div>
    <div id="score2">0</div>
</div>
            <!-- Name of The Players-->

                <!-- Game Area-->
<div id="window">
        <div id="Line1"></div>
            <div id="leftborder1"></div>
                <div id="rightborder"></div>
                <div id="leftborder"></div>
            <div id="rightborder1"></div> 
        <div id="Line2"></div>
    <div class="vertical"></div>
    <button id="Button">Play</button>
    <svg id='hell' width=100% height='100%' style="background-color: black;">
        <circle id='texthey' cx='398' cy='260' r='10' fill='white'></circle>
    </svg>
</div>
<div id="player1description"><span id='playernamedata1'> player1</span> <br> how to play <br> ⬆️ : w <br> ⬇️ : s </div>
<div id="player2description"><span id='playernamedata2'> player1</span><br> how to play <br> ⬆️ : o <br> ⬇️ : l </div>
<button type="button" class='homeys' id='homeys1' onclick="out()" >save score </button>
<button type="button" class='homeys' id='homeys2' onclick="location='/logout'" >logout </button>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class='errorvalide'>{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<script>
    var user = JSON.parse('{{ user | tojson | safe}}');
</script>
<footer id="names">abdlouahab bella | hamza bousslama | oussama qouti | yassine boujrada</footer>
<script src="{{ url_for('static',filename='JS/Game.js') }}"></script>
{% endblock content %}