{% extends "base.html" %}
{% block content %}

<div id='plays'>
    <form action="/players" method="POST" id ='homey'>
        <br>
        <label for="name">Full Name</label><br>
        <input type="text" name='name' placeholder='Full Name', required , style="font-size: 30px;"><br>
        <label for="email">Email</label><br>
        <input type="text name" name="email" placeholder='Email' required , style="font-size: 30px;"><br>
        <button type="submit" , style="font-size: 30px;" >submit</button>
    </form>
</div>

{% endblock content %}