{% extends "base.html" %}
{% block content %}

<div style="background-image: url('/home/hamza/Desktop/Ping Pong/PingPong/static/IMAGES/back.jpg');">
    <div id='plays'>
        <form action="/players" method="POST" id ='homey'>
            <br>
            <label for="name">Full Name</label><br>
            <input type="text" name='name' placeholder='Your Full Name...', required><br>
            <label for="email">Email</label><br>
            <input type="text name" name="email" placeholder='Your Email' required><br>
            <button type="submit" >submit</button>
        </form>
    </div>
</div>

{% endblock content %}