{% extends "base.html" %}
{% block content %}

<div id='plays'>
    <form action="/singup" method="POST" id ='homey'>
        <br><label for="email">Username</label><br>
        <input type="text name" name="name" placeholder='username...' required , style="font-size: 30px;"><br>
        <br><label for="email">Email</label><br>
        <input type="email" name="email" placeholder='Email ...' required , style="font-size: 30px;"><br>
        <label for="name">Password</label><br>
        <input type="password" name='password' placeholder='password ...', required , style="font-size: 30px;"><br>
        {% if error_ %}
            <p class='error'>{{ error_ }}</p>
        {% endif %}
        <label for="confirm_password">Confirm Password</label><br>
        <input type="password" name='confirm_password' placeholder='confirm password ...', required , style="font-size: 30px;"><br>  
        <button type="submit" , style="font-size: 30px;" >submit</button>
    </form>
</div>

{% endblock content %}