{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static' , filename='CSS/style.css')}}">
<div class="window">
    <h2>SIGN IN</h2>
    <form action="/singup" method="POST" id ='homey'>

            <input type="text" name="name" placeholder='Username'required><br>
            <input type="text" name="email" placeholder='Email'required ><br>
            <input type="password" name='password' placeholder='Password'required><br>   
            <input type="submit" value="Submit">

    </form>
</div>

{% endblock content %}